.search-container {
  float: right;
}
button.btn.btn-info.btn-lg {
  margin-left: 100px;

}
.thead {
  background-color: cadetblue;
}
.button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only {
  height: 56px;

}
img {
  margin-top: -924px;
}
