
<nav class="navbar navbar-expand-lg ">
    <button pButton type="button" (click)="visibleSidebar1 = true" style="width:40px" ><i class="fa fa-bars"></i> </button>
  <a class="navbar-brand" href="#"><b>Employee Management</b></a>

  <h3 >SkyCliff IT Pvt Ltd</h3>

<div class="container">
  <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
    <h3><b>Sidebar</b></h3><br>
  <ul class="nav flex-column">
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/service']" routerLinkActive="router-link-active"  (click)="visibleSidebar1 = false"  ><i class="fa fa-home" aria-hidden="true"></i> Home</a>
          </li>
          <br>
  <li class="nav-item">
  <a class="nav-link active active-class" [routerLink]="['/menu']" routerLinkActive="router-link-active"  (click)="visibleSidebar1 = false" ><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;About</a>
  </li><br>
  <li class="nav-item">
  <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active"(click)="visibleSidebar1 = false" ><i class="fa fa-delicious" aria-hidden="true"></i>&nbsp;Drag drop</a>
  </li>
  <br>
  </ul>
  </p-sidebar>
  </div>

  <div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <h4 class="nav-link"[routerLink]="['/service']" routerLinkActive="router-link-active" ><b><i class="fa fa-home" aria-hidden="true"></i>Home</b></h4>
          </li>
  <li class="nav-item">
  <h4 class="nav-link"[routerLink]="['/menu']" routerLinkActive="router-link-active"> <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;<b>About</b></h4>
  </li>
  <li class="nav-item">
  <h4 class="nav-link"[routerLink]="['/about']" routerLinkActive="router-link-active"><i class="fa fa-delicious" aria-hidden="true"></i><b>&nbsp;Drag drop</b></h4>
  </li>
  </ul>
  </div>

</nav>


