
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-empty {
  height: 22px;
}
a.nav-link {
  font-size: 25px;
}
nav.navbar.navbar-expand-lg {
  background-color: rgba(0,123,255,.25);
}
/* h3{
  text-align: center; */

